Raspberry pi Server/NodeRed_demo(13,02,19)
[{"id":"d33182e9.86663","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"79494382.d5f01c","type":"serial in","z":"d33182e9.86663","name":"Arduino RFM69HCW433MHz","serial":"c8f9a958.c980f8","x":200,"y":220,"wires":[["4a75f246.ca0fbc","e8fb4323.79ea1","4c726f84.e5b2d"]]},{"id":"4a75f246.ca0fbc","type":"function","z":"d33182e9.86663","name":"Split Data","func":"var output = msg.payload.split(\",\", 2);\n\nvar ID = parseInt(output[1]);\n\n\nif ((ID%2) === 0)\n{\n    \n    var payLoad = parseFloat(output[0]);\n    var temperature = {payload:payLoad};\n    \n}\nelse if ( (ID%2) !== 0)\n\n{   \n    var ind = parseInt(output[0]);\n    var status = {payload:ind};\n}\n\nreturn [temperature, status];\n","outputs":2,"noerr":0,"x":440,"y":220,"wires":[["12acf1f3.7513ce","3a82ab9.53ac254","73e8d784.50bbb8"],["ded5418.50f96c","f753c68f.201248"]]},{"id":"ded5418.50f96c","type":"debug","z":"d33182e9.86663","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":240,"wires":[]},{"id":"12acf1f3.7513ce","type":"ui_gauge","z":"d33182e9.86663","name":"","group":"bdd67b0d.5667b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":160,"wires":[]},{"id":"3a82ab9.53ac254","type":"ui_chart","z":"d33182e9.86663","name":"","group":"bdd67b0d.5667b8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":200,"wires":[[],[]]},{"id":"73e8d784.50bbb8","type":"file","z":"d33182e9.86663","name":"","filename":"/home/pi/Desktop/Temperature Data.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":820,"y":60,"wires":[[]]},{"id":"e8fb4323.79ea1","type":"debug","z":"d33182e9.86663","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":140,"wires":[]},{"id":"f753c68f.201248","type":"ui_switch","z":"d33182e9.86663","name":"","label":"Device Status ","tooltip":"","group":"bdd67b0d.5667b8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-power-off","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-power-off","offcolor":"red","x":700,"y":280,"wires":[[]]},{"id":"4c726f84.e5b2d","type":"function","z":"d33182e9.86663","name":"Send to ControlNode","func":"var output = msg.payload.split(\",\", 2);\n\nvar temp = parseFloat(output[0]);\nvar ID = parseInt(output[1]);\n\nvar newID = ID + 1;\n\nif (temp > 4) \n{\n  var mes = {payload: \"ON\" + \",\" + newID};\n  \n} else if (temp < 2) {\n  var mes = {payload: \"OFF\" + \",\" + newID};\n}\n\n//var msg1 = {payload: res.slice(0,4)};\n//var msg2 = {payload: res.slice(4,6)};\n\nreturn [mes];","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["17dce408.a99a0c"]]},{"id":"17dce408.a99a0c","type":"debug","z":"d33182e9.86663","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":360,"wires":[]},{"id":"63e27f5d.dd3a8","type":"e-mail","z":"d33182e9.86663","server":"smtp.gmail.com","port":"465","secure":true,"name":"employeezmt19@gmail.com","dname":"","x":1180,"y":580,"wires":[]},{"id":"3ddf6e1a.078502","type":"inject","z":"d33182e9.86663","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":"10","x":290,"y":500,"wires":[["ea1e849e.1bbe58"]]},{"id":"ea1e849e.1bbe58","type":"file in","z":"d33182e9.86663","name":"","filename":"/home/pi/Desktop/Temperature Data.log","format":"","chunk":false,"sendError":false,"x":600,"y":540,"wires":[["8a5f2e3f.7191e"]]},{"id":"8a5f2e3f.7191e","type":"change","z":"d33182e9.86663","name":"","rules":[{"t":"set","p":"attachments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":580,"wires":[["63e27f5d.dd3a8"]]},{"id":"c8f9a958.c980f8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"bdd67b0d.5667b8","type":"ui_group","z":"","name":"Measuring data...","tab":"d060b84e.8e5c28","order":2,"disp":true,"width":"6","collapse":false},{"id":"d060b84e.8e5c28","type":"ui_tab","z":"","name":"ZMT IoT Based Temperature Monitoring and Control System","icon":"default","order":2,"disabled":false,"hidden":false}]