Raspberry pi Server/Telegram+nodered+updated(29,05,2019)
[{"id":"8ec76e7d.2fca6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3fd3f17c.9127ce","type":"serial in","z":"8ec76e7d.2fca6","name":"Arduino RFM69HCW433MHz","serial":"52befc10.7af8e4","x":120,"y":200,"wires":[["7076ee9f.3a883","c5bc933f.7703b","df24769b.cf70c8"]]},{"id":"2225abd1.384974","type":"ui_gauge","z":"8ec76e7d.2fca6","name":"","group":"b57b9a57.da1148","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":220,"wires":[]},{"id":"7daf6b42.18d724","type":"ui_chart","z":"8ec76e7d.2fca6","name":"","group":"b57b9a57.da1148","order":4,"width":0,"height":0,"label":"Graph Temp vs Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":140,"wires":[[],[]]},{"id":"5569a614.4f1a28","type":"file","z":"8ec76e7d.2fca6","name":"","filename":"/home/pi/Desktop/Temperature Data.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":680,"y":180,"wires":[[]]},{"id":"84b77952.e1db08","type":"ui_switch","z":"8ec76e7d.2fca6","name":"","label":"Relay Status","tooltip":"","group":"b57b9a57.da1148","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-power-off","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-power-off","offcolor":"red","x":950,"y":300,"wires":[["96b2af68.14769"]]},{"id":"df24769b.cf70c8","type":"function","z":"8ec76e7d.2fca6","name":"Send to ControlNode","func":"var output = msg.payload.split(\",\", 2);\n\nvar temp = parseFloat(output[0]);\nvar ID = parseInt(output[1]);\n\nvar newID = ID + 1;\n\nif (temp > 24) \n{\n  var mes = {payload: \"ON\" + \",\" + newID};\n  var status = {payload: 1};\n  \n} else if (temp <= 24) {\n  var mes = {payload: \"OFF\" + \",\" + newID};\n   status = {payload: 0};\n}\n\nreturn [mes, status];","outputs":2,"noerr":0,"x":360,"y":280,"wires":[["f3ce930.f4e5b7"],[]]},{"id":"1e035445.d074fc","type":"e-mail","z":"8ec76e7d.2fca6","server":"smtp.gmail.com","port":"465","secure":true,"name":"employeezmt19@gmail.com","dname":"","x":920,"y":480,"wires":[]},{"id":"c2ff2f02.b6ada","type":"inject","z":"8ec76e7d.2fca6","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":"10","x":110,"y":480,"wires":[["4f0c938c.a1af3c"]]},{"id":"4f0c938c.a1af3c","type":"file in","z":"8ec76e7d.2fca6","name":"","filename":"/home/pi/Desktop/Temperature Data.log","format":"","chunk":false,"sendError":false,"x":360,"y":480,"wires":[["69438ec0.cbb3d"]]},{"id":"69438ec0.cbb3d","type":"change","z":"8ec76e7d.2fca6","name":"","rules":[{"t":"set","p":"attachments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":480,"wires":[["1e035445.d074fc"]]},{"id":"7076ee9f.3a883","type":"function","z":"8ec76e7d.2fca6","name":"Split Data","func":"var msg = msg.payload;\nvar msg;\nvar temp;\nif (msg.length == 6){\n    \n msg1 = msg.slice(0,4);\n temp = {payload: parseFloat(msg1)}\n}\nif (msg.length == 7){\n    \n msg1 = msg.slice(0,4);\n temp = {payload: parseFloat(msg1)}\n}\nif (msg.length == 8){\n    \n msg1 = msg.slice(0,4);\n temp = {payload: parseFloat(msg1)}\n}\n\nif (msg.length == 9){\n    \n msg1 = msg.slice(0,5);    \n temp = {payload: parseFloat(msg1)}\n}\nelse if (msg.length == 10){\n    \n msg1 = msg.slice(0,6);    \n temp = {payload: parseFloat(msg1)}\n}\n\n\nelse{\n    var msg2 = {payload: msg};\n}\n\n\n//if (msg.content == \"Temp\"){\n    \n//    var msg3 = {\"chatId\": \"846075197\",\"messageId\": 142,\"type\": \"message\",\"content\": temp}\n//}\nreturn [temp, msg2]\n","outputs":3,"noerr":0,"x":340,"y":200,"wires":[["5569a614.4f1a28","fa59644a.681d08","2225abd1.384974","7daf6b42.18d724"],[],[]]},{"id":"e32c7ea2.9c4ac","type":"debug","z":"8ec76e7d.2fca6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":220,"wires":[]},{"id":"174d4221.52447e","type":"function","z":"8ec76e7d.2fca6","name":"ControlNode Status","func":"var output = msg.payload.trim();\n\nif (output == 'on') \n{\n  var mes = {payload: \"ON\"};\n  var status = {payload: 1};\n  \n} else if (output == 'off') {\n  var mes = {payload: \"OFF\"};\n   status = {payload: 0};\n}\nelse{\n    var reply = {payload: output};\n}\n\n\nreturn [mes, status, reply];","outputs":3,"noerr":0,"x":740,"y":260,"wires":[["e32c7ea2.9c4ac"],["87e6a6bd.a01d68","84b77952.e1db08"],["537ab0b8.c6a83"]]},{"id":"87e6a6bd.a01d68","type":"debug","z":"8ec76e7d.2fca6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":260,"wires":[]},{"id":"fa59644a.681d08","type":"debug","z":"8ec76e7d.2fca6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"c5bc933f.7703b","type":"debug","z":"8ec76e7d.2fca6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":120,"wires":[]},{"id":"b8674a44.832cc8","type":"function","z":"8ec76e7d.2fca6","name":"send status to Telegram","func":"var r;\nif (msg.payload==1){\nmsg.payload = {\"chatId\":846075197,\"messageId\":10,\"type\":\"message\",\"content\":\"Relay is ON\"}\nr = {payload: \" Refrigerator is ON\"}\n}\nelse{\nmsg.payload = {\"chatId\":846075197,\"messageId\":10,\"type\":\"message\",\"content\":\"Relay is OFF\"}\nr = {payload: \"Refrigerator is OFF\"}\n}\nreturn [msg, r];","outputs":2,"noerr":0,"x":1110,"y":360,"wires":[["a0c3a1d5.5165d"],["5553e741.74f558"]]},{"id":"96b2af68.14769","type":"rbe","z":"8ec76e7d.2fca6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1090,"y":300,"wires":[["b8674a44.832cc8"]]},{"id":"f3ce930.f4e5b7","type":"serial request","z":"8ec76e7d.2fca6","name":"","serial":"52befc10.7af8e4","x":550,"y":280,"wires":[["174d4221.52447e"]]},{"id":"a0c3a1d5.5165d","type":"telegram sender","z":"8ec76e7d.2fca6","name":"","bot":"ccffcdfe.a7fbd","x":1110,"y":420,"wires":[[]]},{"id":"5553e741.74f558","type":"ui_toast","z":"8ec76e7d.2fca6","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1210,"y":240,"wires":[]},{"id":"537ab0b8.c6a83","type":"debug","z":"8ec76e7d.2fca6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":360,"wires":[]},{"id":"52befc10.7af8e4","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"b57b9a57.da1148","type":"ui_group","z":"","name":"Measuring data...","tab":"e27390fe.8d61f","order":2,"disp":true,"width":"6","collapse":false},{"id":"ccffcdfe.a7fbd","type":"telegram bot","z":"","botname":"ZmtTcs_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"e27390fe.8d61f","type":"ui_tab","z":"","name":"ZMT IoT Based Temperature Monitoring and Control System","icon":"fa-burn","order":2,"disabled":false,"hidden":false}]