Raspberry pi Server/TSC-NodeRed-flow.json
[{"id":"11840570.a62a4b","type":"serial in","z":"7d0ce397.203cb4","name":"Arduino RFM69HCW433MHz","serial":"2e31818.0eb687e","x":120,"y":180,"wires":[["89ab7308.e87ef","1c846606.fd17a2","6240c179.1e123"]]},{"id":"e174bb6f.214a58","type":"ui_gauge","z":"7d0ce397.203cb4","name":"","group":"17e9d149.5308ff","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":220,"wires":[]},{"id":"a65f8901.29236","type":"ui_chart","z":"7d0ce397.203cb4","name":"","group":"17e9d149.5308ff","order":4,"width":0,"height":0,"label":"Graph Temp vs Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":620,"y":140,"wires":[[],[]]},{"id":"1bdd4b83.cd3794","type":"file","z":"7d0ce397.203cb4","name":"","filename":"/home/pi/Desktop/Temperature Data.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":680,"y":180,"wires":[[]]},{"id":"f5c5ac29.9312f","type":"ui_switch","z":"7d0ce397.203cb4","name":"","label":"Relay Status","tooltip":"","group":"17e9d149.5308ff","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-power-off","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-power-off","offcolor":"red","x":950,"y":280,"wires":[["3b77037d.a0836c"]]},{"id":"1c846606.fd17a2","type":"function","z":"7d0ce397.203cb4","name":"Send to ControlNode","func":"var output = msg.payload.split(\",\", 2);\n\nvar temp = parseFloat(output[0]);\nvar ID = parseInt(output[1]);\n\nvar newID = ID + 1;\n\nif (temp > 24) \n{\n  var mes1 = {payload: \"ON\" + \",\" + newID};\n  var status = {payload: 1};\n  \n} else if (temp <= 24) {\n   mes1 = {payload: \"OFF\" + \",\" + newID};\n   status = {payload: 0};\n}\n\nreturn [mes1, status];","outputs":2,"noerr":0,"x":220,"y":280,"wires":[["c05b56d8.2bd68"],[]]},{"id":"6004dde9.3f509c","type":"e-mail","z":"7d0ce397.203cb4","server":"smtp.gmail.com","port":"465","secure":true,"name":"employeezmt19@gmail.com","dname":"","x":920,"y":480,"wires":[]},{"id":"3e986565.e9f0ca","type":"inject","z":"7d0ce397.203cb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":"10","x":110,"y":480,"wires":[["6ba4374d.6acac8"]]},{"id":"6ba4374d.6acac8","type":"file in","z":"7d0ce397.203cb4","name":"","filename":"/home/pi/Desktop/Temperature Data.log","format":"","chunk":false,"sendError":false,"x":360,"y":480,"wires":[["a33e292d.0d90a"]]},{"id":"a33e292d.0d90a","type":"change","z":"7d0ce397.203cb4","name":"","rules":[{"t":"set","p":"attachments","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":480,"wires":[["6004dde9.3f509c"]]},{"id":"cec8dff8.54651","type":"function","z":"7d0ce397.203cb4","name":"Split Data","func":"var msg = msg.payload;\nvar msg;\nvar temp;\nif (msg.length == 6){\n    \n msg1 = msg.slice(0,4);\n temp = {payload: parseFloat(msg1)}\n}\nif (msg.length == 7){\n    \n msg1 = msg.slice(0,4);\n temp = {payload: parseFloat(msg1)}\n}\nif (msg.length == 8){\n    \n msg1 = msg.slice(0,4);\n temp = {payload: parseFloat(msg1)}\n}\n\nif (msg.length == 9){\n    \n msg1 = msg.slice(0,5);    \n temp = {payload: parseFloat(msg1)}\n}\nelse if (msg.length == 10){\n    \n msg1 = msg.slice(0,6);    \n temp = {payload: parseFloat(msg1)}\n}\n\n\nelse{\n    var msg2 = {payload: msg};\n}\n\n\n//if (msg.content == \"Temp\"){\n    \n//    var msg3 = {\"chatId\": \"846075197\",\"messageId\": 142,\"type\": \"message\",\"content\": temp}\n//}\nreturn [temp, msg2]\n","outputs":3,"noerr":0,"x":1180,"y":40,"wires":[[],[],[]]},{"id":"74758ecf.94a4b","type":"debug","z":"7d0ce397.203cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":200,"wires":[]},{"id":"a4c1abc2.6a0f9","type":"function","z":"7d0ce397.203cb4","name":"ControlNode Status","func":"var output = msg.payload.trim();\n\nif (output == 'on') \n{\n  var mes = {payload: \"ON\"};\n  var status = {payload: 1};\n  \n} else if (output == 'off') {\n  mes = {payload: \"OFF\"};\n   status = {payload: 0};\n}\nelse{\n    var reply = {payload: output};\n}\n\n\nreturn [mes, status, reply];","outputs":3,"noerr":0,"x":730,"y":280,"wires":[["74758ecf.94a4b"],["dacc7c55.2b9e4","f5c5ac29.9312f"],[]]},{"id":"dacc7c55.2b9e4","type":"debug","z":"7d0ce397.203cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":240,"wires":[]},{"id":"fe8fe18.d71972","type":"debug","z":"7d0ce397.203cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"f71212fa.04bed8","type":"function","z":"7d0ce397.203cb4","name":"send status to Telegram","func":"var r;\nif (msg.payload==1){\nmsg.payload = {\"chatId\":846075197,\"messageId\":10,\"type\":\"message\",\"content\":\"Relay is ON\"}\nr = {payload: \" Refrigerator is ON\"}\n}\nelse{\nmsg.payload = {\"chatId\":846075197,\"messageId\":10,\"type\":\"message\",\"content\":\"Relay is OFF\"}\nr = {payload: \"Refrigerator is OFF\"}\n}\nreturn [msg, r];","outputs":2,"noerr":0,"x":1110,"y":340,"wires":[[],[]]},{"id":"3b77037d.a0836c","type":"rbe","z":"7d0ce397.203cb4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":280,"wires":[["f71212fa.04bed8"]]},{"id":"c05b56d8.2bd68","type":"serial request","z":"7d0ce397.203cb4","name":"","serial":"2e31818.0eb687e","x":390,"y":280,"wires":[["3a660771.2997c"]]},{"id":"49c2de41.6c6b6","type":"telegram sender","z":"7d0ce397.203cb4","name":"","bot":"1d81bcda.45efab","x":1130,"y":380,"wires":[[]]},{"id":"b4acf077.1184c8","type":"debug","z":"7d0ce397.203cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":360,"wires":[]},{"id":"89ab7308.e87ef","type":"function","z":"7d0ce397.203cb4","name":"","func":"var str = msg.payload.trim();\nvar mes;\nif (str ==\"on,3\")\n{\n    mes = {payload: \"Turn ON\"};\n}\nelse if(str ==\"off\")\n{\n    mes = {payload: \"Turn OFF\"};\n}\nelse{\nvar res = str.split(\",\");\n\nvar new0 = parseFloat(res[0]); // Outputs: Harry\nvar new1 = parseInt(res[1]); // Outputs: John\n}\n\nreturn [{payload:new0}, {payload:new1}, mes]","outputs":3,"noerr":0,"x":350,"y":180,"wires":[["fe8fe18.d71972","a65f8901.29236","1bdd4b83.cd3794","e174bb6f.214a58"],[],[]]},{"id":"6240c179.1e123","type":"debug","z":"7d0ce397.203cb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":60,"wires":[]},{"id":"3a660771.2997c","type":"function","z":"7d0ce397.203cb4","name":"ReadFromNode","func":"var str = msg.payload.trim();\nvar res = str.split(\",\");\n\nvar new0 = res[0]; // Outputs: Harry\nvar new1 = parseInt(res[1]); // Outputs: John\n\nif (new1 == 2){\n    var fromSenNode = {payload: parseFloat(new0)};\n}\nelse if (new1 == 3){\n    var fromCrtNode = {payload: new0};\n}\n\n\nreturn [fromSenNode, fromCrtNode]","outputs":2,"noerr":0,"x":540,"y":280,"wires":[["b4acf077.1184c8"],["a4c1abc2.6a0f9"]]},{"id":"2e31818.0eb687e","type":"serial-port","z":"","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"17e9d149.5308ff","type":"ui_group","z":"","name":"Measuring data...","tab":"a1ef70e8.16fe78","order":2,"disp":true,"width":"6","collapse":false},{"id":"1d81bcda.45efab","type":"telegram bot","z":"","botname":"ZmtTcs_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"a1ef70e8.16fe78","type":"ui_tab","z":"","name":"ZMT IoT Based Temperature Monitoring and Control System","icon":"fa-burn","order":2,"disabled":false,"hidden":false}]